{% extends "base.html" %}

{% block content %}
<h1>about bikestat</h1>

<p>
bikestat is a <a href="https://www.djangoproject.com/">django</a> app
that pulls in data from <a href="http://capitalbikeshare.com/">Capital
Bikeshare</a>'s page of <a
href="http://capitalbikeshare.com/trip-history-data">trip history
data</a>.  I'm an avid bikeshare user and a data junkie so I thought
might be fun to do something interesting to highlight how cool it is
that they're sharing the data.
</p>

<p>
This site based on free software and free data and you can have the
code that runs it, it's free software too.  See <a href="https://github.com/dchud/bikestat">github.com/dchud/bikestat</a> for the code.
</p>

{% endblock %}
