{% extends "base.html" %}

{% block content %}
<h1>about bikestat</h1>

<p>
bikestat 
pulls in data from <a href="http://capitalbikeshare.com/">Capital
Bikeshare</a>'s page of <a
href="http://capitalbikeshare.com/trip-history-data">trip history
data</a>.  I'm an avid bikeshare user and an info junkie so I thought
might be fun to do something interesting to highlight how cool it is
that they're sharing the data.
</p>

<p>
This site is based on free data, and you can have the
code that runs it, too, it's free software.  See <a href="https://github.com/dchud/bikestat">github.com/dchud/bikestat</a> for the code.  
bikestat is a <a href="https://www.djangoproject.com/">django</a> app
using <a href="http://www.postgresql.org/">PostgreSQL</a>, <a 
href="http://d3js.org/">D3</a>, and <a 
href="http://twitter.github.com/bootstrap/">bootstrap</a>.
If you have suggestions for enhancements or fixes please feel free to 
fork the code on github, send pull requests, and file tickets.
</p>

<p>
For any other questions or comments, I'm
<a href="https://twitter.com/dchud">@dchud</a> on twitter.
</p>
{% endblock %}
