{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>bike {{ bike.num }}</h1>

<p>
{{ count }} rides since {{ first.date }}, longest: {{ longest.duration_hours|floatformat }} hours
</p>


{% if events.paginator.num_pages > 1 %}
<div class='pagination'>
    <span class='step-links'>
        {% if events.has_previous %}
        <a href='{% url 'bike' bike.id %}?page=1'>&laquo;</a>
        <a href='{% url 'bike' bike.id %}?page={{ events.previous_page_number }}'>next</a>
        {% endif %}
        <span class='current'>
            {{ events.number }} of {{ events.paginator.num_pages }}
        </span>
        {% if events.has_next %}
        <a href='{% url 'bike' bike.id %}?page={{ events.next_page_number }}'>prior</a>
        <a href='{% url 'bike' bike.id %}?page={{ events.paginator.num_pages }}'>&raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

<table class='table'>
    <thead>
        <th width='12%'>type</th>
        <th width='10%'>time</th>
        <th>station</th>
    </thead>
    <tbody>
        {% regroup events by date.date as date_groups %}
        {% for date_group in date_groups %}
        <tr>
            <td colspan='4'>
                <h4>{{ date_group.grouper|date:"Y-m-d - l" }}</h4>
            </td>
        </tr>
            {% for event in date_group.list|dictsortreversed:"date.time" %}
        <tr>
            {% if event.is_end %}
            <td>
                &nbsp;
            {% else %}
            <td class='start-row'>
                {% spaceless %}
                start &raquo; 
                <a href='{% url "from_to_station" event.station.id event.ride.station_end.id %}'>
                {{ event.ride.duration_minutes }} min
                {% endspaceless %}
            </a>
            {% endif %}
            </td>
            <td>
                {{ event.date|date:"P" }}
            </td>
            <td>
                {% if event.is_end %}
                to <a href='{% url "station" event.ride.station_end.id %}'>{{ event.ride.station_end.desc }}</a>
                {% else %}
                from <a href='{% url "station" event.ride.station_start.id %}'>{{ event.ride.station_start.desc }}</a>
                {% endif %}
            </td>
        </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
