{% extends "base.html" %}
{% load url from future %}

{% block javascript_extra %}
{% endblock javascript_extra %}

{% block content %}
<h1>station {{ desc }}</h1>

<img id='multi-map' src='{{ multi_map_url }}' border='0' />

<table class='table'>
    <thead>
        <th width='25%'>start</th>
        <th width='25%'>end</th>
        <th width='10%'>bike</th>
        <th width='15%'>duration</th>
        <th width='25%'>map</th>
    </thead>
    <tbody>
        {% for ride in rides %}
        <tr>
            <td>
                {{ ride.date_start|date:"Y-m-d, P l" }}
                <br />
                <a href='{% url "station" ride.station_start %}'>{{ ride.station_start }}</a>
            </td>
            <td>
                {{ ride.date_end|date:"Y-m-d, l P"}}
                <br />
                <a href='{% url "station" ride.station_end %}'>{{ ride.station_end }}</a>
            </td>
            <td>
                <a href='{% url "bike" ride.bike_num %}'>{{ ride.bike_num }}</a>
            </td>
            <td>
                {{ ride.duration_minutes }} minute{{ ride.duration_minutes|pluralize }}
            </td>
            <td><img id='map-={{ ride.id }}' src='{{ ride.map_url }}' 
                border='0' /></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
