{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>{{ station.desc }}</h1>

<p>
{{ count }} docking events since {{ first.date }}
</p>


<div class='pagination'>
    <span class='step-links'>
        {% if events.has_previous %}
        <a href='{% url 'station' station.id %}?page=1'>&laquo;</a>
        <a href='{% url 'station' station.id %}?page={{ events.previous_page_number }}'>next</a>
        {% endif %}
        <span class='current'>
            {{ events.number }} of {{ events.paginator.num_pages }}
        </span>
        {% if events.has_next %}
        <a href='{% url 'station' station.id %}?page={{ events.next_page_number }}'>prior</a>
        <a href='{% url 'station' station.id %}?page={{ events.paginator.num_pages }}'>&raquo;</a>
        {% endif %}
    </span>
</div>

<table class='table'>
    <thead>
        <th width='12%'>type</th>
        <th width='10%'>time</th>
        <th width='8%'>bike</th>
        <th>other station</th>
    </thead>
    <tbody>
        {% regroup events by date.date as date_groups %}
        {% for date_group in date_groups %}
        <tr>
            <td colspan='4'>
                <h4>{{ date_group.grouper|date:"Y-m-d - l" }}</h4>
            </td>
        </tr>
            {% for event in date_group.list|dictsortreversed:"date.time" %}
        <tr>
            {% if event.is_end %}
            <td>
                &nbsp;
            {% else %}
            <td class='start-row'>
                start &raquo; {{ event.ride.duration_minutes }} min
            {% endif %}
            </td>
            <td>
                {{ event.date|date:"P" }}
            </td>
            <td>
                <a href='{% url "bike" event.bike.id %}'>{{ event.bike.num }}</a>
            </td>
            <td>
                {% if event.is_end %}
                from
                <a href='{% url "station" event.ride.station_start.id %}'>{{ event.ride.station_start.desc }}</a>
                {% else %}
                to
                <a href='{% url "station" event.ride.station_end.id %}'>{{ event.ride.station_end.desc }}</a>
                {% endif %}
            </td>
        </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
